.text-primary {
  color: #326dee;
}

.bg-primary {
  background-color: #326dee;
}

.text-primary-light-1 {
  color: #477cf0;
}

.text-primary-light-2 {
  color: #5b8af1;
}

.text-primary-light-3 {
  color: #7099f3;
}

.text-primary-light-4 {
  color: #84a7f5;
}

.text-primary-light-5 {
  color: #99b6f7;
}

.text-primary-light-6 {
  color: #adc5f8;
}

.text-primary-light-7 {
  color: #c2d3fa;
}

.text-primary-light-8 {
  color: #d6e2fc;
}

.text-primary-light-9 {
  color: #ebf0fd;
}

.text-primary-dark-1 {
  color: #2d62d6;
}

.text-primary-dark-2 {
  color: #2857be;
}

.text-primary-dark-3 {
  color: #234ca7;
}

.text-primary-dark-4 {
  color: #1e418f;
}

.text-primary-dark-5 {
  color: #193777;
}

.text-primary-dark-6 {
  color: #142c5f;
}

.text-primary-dark-7 {
  color: #0f2147;
}

.text-primary-dark-8 {
  color: #0a1630;
}

.text-primary-dark-9 {
  color: #050b18;
}

.text-secondary {
  color: #1ac886;
}

.bg-secondary {
  background-color: #1ac886;
}

.text-secondary-light-1 {
  color: #31ce92;
}

.text-secondary-light-2 {
  color: #48d39e;
}

.text-secondary-light-3 {
  color: #5fd9aa;
}

.text-secondary-light-4 {
  color: #76deb6;
}

.text-secondary-light-5 {
  color: #8de4c3;
}

.text-secondary-light-6 {
  color: #a3e9cf;
}

.text-secondary-light-7 {
  color: #baefdb;
}

.text-secondary-light-8 {
  color: #d1f4e7;
}

.text-secondary-light-9 {
  color: #e8faf3;
}

.text-secondary-dark-1 {
  color: #17b479;
}

.text-secondary-dark-2 {
  color: #15a06b;
}

.text-secondary-dark-3 {
  color: #128c5e;
}

.text-secondary-dark-4 {
  color: #107850;
}

.text-secondary-dark-5 {
  color: #0d6443;
}

.text-secondary-dark-6 {
  color: #0a5036;
}

.text-secondary-dark-7 {
  color: #083c28;
}

.text-secondary-dark-8 {
  color: #05281b;
}

.text-secondary-dark-9 {
  color: #03140d;
}

.text-error {
  color: #d32752;
}

.bg-error {
  background-color: #d32752;
}

.text-error-light-1 {
  color: #d73d63;
}

.text-error-light-2 {
  color: #dc5275;
}

.text-error-light-3 {
  color: #e06886;
}

.text-error-light-4 {
  color: #e57d97;
}

.text-error-light-5 {
  color: #e993a9;
}

.text-error-light-6 {
  color: #eda9ba;
}

.text-error-light-7 {
  color: #f2becb;
}

.text-error-light-8 {
  color: #f6d4dc;
}

.text-error-light-9 {
  color: #fbe9ee;
}

.text-error-dark-1 {
  color: #be234a;
}

.text-error-dark-2 {
  color: #a91f42;
}

.text-error-dark-3 {
  color: #941b39;
}

.text-error-dark-4 {
  color: #7f1731;
}

.text-error-dark-5 {
  color: #6a1429;
}

.text-error-dark-6 {
  color: #541021;
}

.text-error-dark-7 {
  color: #3f0c19;
}

.text-error-dark-8 {
  color: #2a0810;
}

.text-error-dark-9 {
  color: #150408;
}

.text-info {
  color: #f6c31c;
}

.bg-info {
  background-color: #f6c31c;
}

.text-info-light-1 {
  color: #f7c933;
}

.text-info-light-2 {
  color: #f8cf49;
}

.text-info-light-3 {
  color: #f9d560;
}

.text-info-light-4 {
  color: #fadb77;
}

.text-info-light-5 {
  color: #fbe18e;
}

.text-info-light-6 {
  color: #fbe7a4;
}

.text-info-light-7 {
  color: #fcedbb;
}

.text-info-light-8 {
  color: #fdf3d2;
}

.text-info-light-9 {
  color: #fef9e8;
}

.text-info-dark-1 {
  color: #ddb019;
}

.text-info-dark-2 {
  color: #c59c16;
}

.text-info-dark-3 {
  color: #ac8914;
}

.text-info-dark-4 {
  color: #947511;
}

.text-info-dark-5 {
  color: #7b620e;
}

.text-info-dark-6 {
  color: #624e0b;
}

.text-info-dark-7 {
  color: #4a3b08;
}

.text-info-dark-8 {
  color: #312706;
}

.text-info-dark-9 {
  color: #191403;
}